{% extends "base.html" %}
{% load static %}

{% block body_block %}


    <section class="container">

        <div class="row p-5">

            <h4>Bookings<sup id="num_in">{{ object_list|length }}</sup></h4>

            {% for invoice in object_list %}
                <div style="border-radius: 25px;"
                     class="card col-12 border-0 shadow-sm p-4 my-3 inpg">
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="card-title mb-1">{{ invoice.booking.name }}</h6>

                            <p class="card-text text-muted" data-toggle="popover" data-trigger="hover"
                               data-title="Event" data-content="{{ invoice.booking.event }}">
                                {{ invoice.booking.event }}
                            </p>

                        </div>

                        <div class="col-sm-2 text-center">
                            <small class="text-muted">Planner<br>{{ invoice.booking.planner }}</small>
                        </div>
                        <div class="col-sm-2 text-center">
                            <small class="text-muted">Telephone number<br>{{ invoice.booking.phone_number}}</small>
                        </div>
                        <div class="col-sm-2 text-center">
                            <small class="text-muted">State<br>{{ invoice.get_booking_state_display }} </small>
                        </div>

                        <div class="col-sm-2 ">
                            <a type="button" href="{% url "manager:bookings_state_update" invoice.booking.id %}"
                               class="btn btn-primary"><i class="far fa-edit" ></i></a>

                        </div>


                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
