{% extends "base.html" %}
{% load static %}

{% block body_block %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    {% include "manager/manager_navbar.html" %}

    <div class="row p-5 mx-5">
        <h4>Graphs</h4>
    </div>

    <div class="row mb-5 justify-content-center">
        {% include 'manager/rendiment_graph.html' %}
    </div>
    <div class="row mb-5 justify-content-center">
        {% include 'manager/usage_graph.html' %}
    </div>

    <script src="{% static 'JS/graphs/rendiment_graph.js' %}"></script>
    <script src="{% static 'JS/graphs/usage_graph.js' %}"></script>

{% endblock %}