<div class="col-md-6 col-sm-6 ">

    <div class="box-header with-border form-horizontal">
        <h3 class="box-title"> Rendiment graph in € </h3>
        <i class="fa fa-fw fa-info-circle" data-toggle="tooltip"
           title=" Rendiment graph "></i>
    </div>

    <div class="box-body form-horizontal">
        <label class="col-sm-1 control-label"> Date Initial </label>
        <input type="date" id="date_init_rendiment" onchange="getData_rendiment_graph()">
        <label class="col-sm-1 control-label"> Date Ending </label>
        <input type="date" id="date_end_rendiment" onchange="getData_rendiment_graph()">

        <div style="height:150px">
            <canvas id="canvas_rendiment_graph"></canvas>
        </div>
        <p id="error_rendiment_graph"></p>

    </div>

</div>