{% extends 'base.html' %}
{% load static %}
{% load app_filters %}
{% load i18n %}
{% block body_block %}
    <form id="form" method="post">{% csrf_token %}
        <div class="container p-3">
            <div class="row justify-content-center">
                <div class="col col-md-5 p-3">
                    <h4 class="font-weight-bold py-3">Invoice</h4>

                    <div class="form-group" id="state">
                        <label class="font-weight-bold" for="state">State</label>
                        <select class="selectpicker form-control" name="{{ invoice.booking.booking_state.html_name }}" id="state"
                                multiple>
                            <option disabled="disabled">--Select State--</option>
                            {% for p in form.booking_state %}
                                <option style="display:none">{{ p }}</option>
                            {% endfor %}
                        </select>

                        {% if form.booking_state.errors %}
                            {% for error in form.booking_state.errors %}
                                <small class="text-danger">{{ error|escape }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="row justify-content-center">
                        <div class="col col-md-5 text-center">
                            {% if edit %}
                                <input value="Edit" type="submit" class="btn btn-secondary"
                                       href="{% url 'manager:bookings_state_list' %}"
                                       onclick="return confirm('Do you want to edit?')">
                            {% else %}
                                <input href="{% url 'manager:bookings_state_list' %}"
                                       class="btn btn-block btn-secondary" value="Return"/>
                            {% endif %}
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </form>


{% endblock %}

