<div class="card col-sm-5 text-center">
    <div class="card-body">

        <h3 class="card-title"> Usage graph in % </h3>

        <div class="card-text">
            <i class="fa fa-fw fa-info-circle" data-toggle="tooltip" title=" Usage graph "></i>
            <label class="card-subtitle"> Date Initial </label>
            <input type="date" id="date_init_usage" onchange="getData_usage_graph()">
            <label class="card-subtitle"> Date Ending </label>
            <input type="date" id="date_end_usage" onchange="getData_usage_graph()">

            <canvas id="canvas_usage_graph"></canvas>
            <p id="error_usage_graph"></p>
        </div>

    </div>
</div>
