{% extends 'base.html' %}
{% load static %}
{% block body_block %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col col-md-5 p-3">

                <h4 class="font-weight-bold py-3">Add Incidence</h4>

                <form method="post" id="formo">
                    <div class="form-group" id="iname">
                        <label class="font-weight-bold" for="iname">Name</label>
                        <input name="name" type="text" class="form-control" value="{{ IncidenceForm.name.value }}"
                               id="iname" required>

                        {% if IncidenceForm.name.errors %}
                            {% for error in IncidenceForm.name.errors %}
                                <small class="text-danger">{{ error|escape }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>


                    <div class="form-group" id="descr">
                        <label class="font-weight-bold" for="descr">Description</label>
                        <input name="description" type="text" class="form-control"
                               value="{{ IncidenceForm.description.value }}" id="descr" required>

                        {% if IncidenceForm.description.errors %}
                            {% for error in IncidenceForm.description.errors %}
                                <small class="text-danger">{{ error|escape }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>


                    <div class="form-group" id="limit">
                        <label class="font-weight-bold" for="limit">Limit Date</label>
                        <input name="limit_date" type="date" class="form-control"
                               value="{{ IncidenceForm.limit_date.value|date:"Y-m-d" }}" id="limit" required>

                        {% if IncidenceForm.limit_date.errors %}
                            {% for error in IncidenceForm.event.errors %}
                                <small class="text-danger">{{ error|escape }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-group custom-control custom-checkbox">
                        <input name="disabled" type="checkbox" class="custom-control-input" id="disabled">
                        <label class="custom-control-label" for="disabled">Disabled.</label>
                        <small id="disabled" class="form-text text-muted">If marked, some bookings may be
                            affected</small>


                        {% if IncidenceForm.disabled.errors %}
                            {% for error in IncidenceForm.event.errors %}
                                <small class="text-danger">{{ error|escape }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold" for="place">Places</label>
                        <small id="place" class="form-text text-muted">Select the places that will be affected or
                            disabled</small>

                        <select class="selectpicker" name="{{ form.places.html_name }}" id="place"
                                data-live-search="true"
                                multiple>
                            {% for e in form.places %}
                                <option style="display:none">{{ e }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <input style="display: none" id="bookings_affected" name="bookings_affected">

                    <div class="my-5">
                        {% if edit %}
                            <input onclick="return (getAffected('{% url 'staff:notification' %}','{% now "Y-m-d" %}'))"
                                   class="btn btn-block btn-secondary" value="Edit Incidence"/>
                        {% else %}
                            <input onclick="return (getAffected('{% url 'staff:notification' %}','{% now "Y-m-d" %}'))"
                                   class="btn btn-block btn-secondary" value="Add Incidence"/>
                        {% endif %}
                    </div>


                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'JS/getAffected.js' %}"></script>
{% endblock %}


