{% extends "base.html" %}
{% load static %}

{% block body_block %}

    {% include "staff/staff_navbar.html" %}
    <section class="container">

        <div class="row p-5">

            <h4>Events<sup id="num_in">{{ object_list|length }}</sup></h4>

            {% for event in object_list %}
                <div style="border-radius: 25px;" class="card col-12 border-0 shadow-sm p-4 my-3 inpg">
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="card-title mb-1">{{ event.name }}</h6>

                            <p class="card-text text-muted" data-toggle="popover" data-trigger="hover"
                               data-title="Places" data-content="{{ event.places }}">
                                {{ event.places | truncatechars:30 }}</p>
                        </div>

                        <div class="col-sm-2 text-center">
                            <small class="text-muted">Created<br>{{ event.created|date:"d-m-Y" }}</small>
                        </div>
                        <div class="col-sm-4 text-center">
                            <a type="button" class="btn btn-warning text-white rounded-pill">Edit</a>
                            <a style="background: #e4e4e4" type="button" href="{% url "staff:dashboard" event.id %}"
                               onclick="return confirm('Are you sure?')"
                               class="btn btn-light text-muted rounded-circle">
                                <i class="fas fa-check"></i></a>
                        </div>

                        <div class="col-sm-4 text-center">
                            <a type="button" class="btn btn-warning text-white rounded-pill">Cancel</a>
                            <a style="background: #e4e4e4" type="button"
                               href="{% url "staff:incidence_done" event.id %}"
                               onclick="return confirm('Are you sure?')"
                               class="btn btn-light text-muted rounded-circle">
                                <i class="fas fa-check"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>

{% endblock %}
