{% extends "base.html" %}
{% load static %}

{% block body_block %}

    {% include "staff/staff_navbar.html" %}
    <section class="container">

        <div class="row p-5">

            <h4>Events<sup id="num_in">{{ object_list|length }}</sup></h4>
            <a class="btn btn-secondary ml-auto mb-4" href="{% url 'staff:add_event' %}">
                <span class="fas fa-calendar"></span> Add Event </a>

            {% for event in object_list %}
                <div style=" border-left: .5rem solid {{ event.color }} !important"
                     class="card col-12 border-0 shadow-sm p-4 my-3 inpg">
                    <div class="row">
                        <div class="col-sm-6">
                            <h6 class="card-title mb-1">{{ event.name }}</h6>

                            <p class="places_assigned text-muted">
                            {% for p in event.places.all %}
                                {{ p.name }}
                            {% endfor %}
                            </p>

                        </div>

                        <div class="col-sm-2 text-center">
                            <small class="text-muted">Created<br>{{ event.created|date:"d-m-Y" }}</small>
                        </div>
                        <div class="col-sm-4 text-center">
                            <a type="button" href="{% url "staff:edit_event" event.id %}"
                            class="btn btn-primary"><i class="far fa-edit"></i></a>


                            <a type="button" href="{% url "staff:delete_event" event.id %}"
                               class="btn btn-danger"
                                onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                        </div>


                    </div>
                </div>
            {% endfor %}

        </div>
    </section>

{% endblock %}
