{% extends "base.html" %}
{% load static %}

{% block body_block %}

    {% include "staff/staff_navbar.html" %}
    <section class="container">

        <div class="row p-5">

            <h4>Places<sup id="num_in">{{ object_list|length }}</sup></h4>
            <a class="btn btn-secondary ml-auto mb-4" href="#">
                <i class="fas fa-plus mr-2"></i>Add Place </a>

            {% for place in object_list %}
                <div style="border-radius: 25px;" class="card col-12 border-0 shadow-sm p-4 my-3 inpg">
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="card-title mb-1">{{ place.name }}</h6>

                            <p class="card-text text-muted" data-toggle="popover" data-trigger="hover"
                               data-title="Description" data-content="{{ place.description }}">
                                {{ place.description | truncatechars:30 }}</p>
                        </div>
                        <div class="col-sm-2 text-center">
                            <small class="text-muted">Price per hour<br>{{ place.price_hour }}€</small>
                        </div>
                        <div class="col-sm-2 text-center">
                            <small class="text-muted">Available from<br>{{ place.available_from|date:"d-m-Y" }}</small>
                        </div>
                        <div class="col-sm-2 text-center">
                            <small class="text-muted">Available until<br>{{ place.available_until|date:"d-m-Y" }}
                            </small>
                        </div>
                        <div class="col-sm-2 text-center">
                            <a type="button" class="btn btn-primary text-white"><i class="far fa-edit"></i></a>

                            <a type="button" class="btn btn-danger text-white"
                               href="{% url "staff:delete_place" place.id %}"
                               onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                        </div>


                    </div>
                </div>
            {% endfor %}
        </div>
    </section>



{% endblock %}
