<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mx-5" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link underline" href="{% url 'staff:booking_list' %}">Bookings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link underline" href="{% url 'staff:incidences_list' %}">Incidences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link underline" href="{% url 'staff:events_list' %}#">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link underline" href="{% url 'staff:places_list' %}">Places</a>
            </li>

            <li class="nav-item">
                <a class="btn btn-sm btn-info mr-2" href="{% url 'staff:add_event' %}">
                    <span class="fas fa-calendar"></span> Add Event </a>
            </li>

        </ul>
    </div>
</nav>