{% extends isajax|yesno:"ajax_base.html,base.html" %}
{% load app_filters %}
{% load static %}

{% block body_block %}

    <section id="schedule" class="container-fluid d-none d-lg-block">

        <div class="row p-4">

            <div class="col">
                <div class="btn-group" role="group">
                    <button id="pw" type="button" class="btn btn-secondary btn-sm d-inline"
                            onclick="swipeWeek('{% url 'trainwell:available' %}','{{ previous_week }}')">
                        <i class="fas fa-chevron-left"> </i>
                    </button>
                    <button id="nw" type="button" class="btn btn-secondary btn-sm d-inline"
                            onclick="swipeWeek('{% url 'trainwell:available' %}','{{ next_week }}')">
                        <i class="fas fa-chevron-right"> </i>
                    </button>
                </div>
                <button id="today" type="button" class="btn btn-secondary btn-sm mr-3"
                        onclick="swipeWeek('{% url 'trainwell:available' %}','{% now "d/m/Y" %}')">
                    Today
                </button>
                {% if weekdays.0|date:"F" == weekdays.6|date:"F" %}
                    <h4 class="d-inline v-middle">{{ weekdays.0|date:"F Y" }}</h4>
                {% else %}
                    <h4 class="d-inline v-middle">{{ weekdays.0|date:"F" }}-{{ weekdays.6|date:"F Y" }}</h4>
                {% endif %}
            </div>

            <div class="col text-right">
                <button id="info" type="button" class="btn btn-primary btn-sm" data-toggle="popover"
                title="Help" data-content="Drag the mouse over the different hours while holding it down.
                For multiple selection hold down Ctrl key and drag the mouse over different elements.">
                    Help <i class="far fa-question-circle"></i>
                </button>

            </div>

        </div>

        {% now "d/m/Y" as today%}

        <div class="row text-center px-5">
            {% for day in weekdays %}

                {% define day|date:"d/m/Y" as curr%}

                {% if today == curr %}

                    <div id="{{ day|date:"d/m/Y" }}" class="col border-bottom text-dark p-3">
                        {{ day|date:"D" }}
                        <h5 class="text-white mt-2"><b class="bg-primary rounded-circle p-2">{{ day|date:"d" }}</b></h5>
                        {% if public_days|get_value:day %}
                            <small class="badge badge-pill badge-success">{{ public_days|get_value:day }}</small>
                        {% endif %}
                    </div>

                {% else %}

                    <div id="{{ day }}" class="col border-bottom text-dark p-3">
                    {{ day|date:"D" }}
                    <h5 class="bold mt-2"><b>{{ day|date:"d" }}</b></h5>
                    {% if public_days|get_value:day %}
                        <small class="badge badge-pill badge-success">{{ public_days|get_value:day }}</small>
                    {% endif %}

                </div>

                {% endif %}

            {% endfor %}
        </div>


        <div class="row px-5 pb-5">

            {% for list_hours,day in hours|zip:weekdays %}

                <div id="selectable-content{{ forloop.counter0 }}" class="col">

                    {% for hour in list_hours %}

                        {% define day|date:"d/m/Y"|add:","|add:hour as datatime %}

                        {% if week_avail|get_item:datatime is True %}

                            <div id="{{ day|date:"d/m/Y," }}{{ hour }}" class="row border selectable p-3">
                                <small>{{ hour }}</small>
                            </div>

                        {% else %}
                            {% if public_days|get_value:day %}
                                <div class="row border bg-grey  rounded p-3">
                                    <small class="text-white">{{ hour }}</small>
                                </div>
                            {% else %}
                                <div id="{{ day|date:"d/m/Y," }}{{ hour }}" class="row border bg-red rounded p-3">
                                    <small class="text-white">{{ hour }} All booked</small>
                                </div>
                            {% endif %}

                        {% endif %}

                    {% endfor %}

                </div>

            {% endfor %}
        </div>

        <div class="modal fade" id="fieldsModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content p-3">

                    <div class="modal-header">
                        <h5 class="modal-title"> </h5>
                    </div>

                    <div class="modal-body">
                        <!--TO-DO errors-->
                    </div>

                    <small class="text-muted p-3">*Make sure you have selected and hour in only a field.</small>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Confirm</button>
                    </div>

                </div>
            </div>
        </div>

    </section>


    <script id="popover_script" type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script type="text/javascript">

        $(function () {

            let selected_hours = [];
            $('[id^=selectable-content]').selectable({
                filter:".selectable", // Exclude booked_dates and holidays.

                selecting: function(event, ui) {
                    let curr_selectable = $(this).attr('id');
                    for (const x of Array(7).keys()) {
                        let qs = $('#selectable-content' + x);
                        if (curr_selectable !== ('selectable-content' + x)){
                            // Refresh other selectables, except me.
                            qs.selectable("widget").children().removeClass('ui-selected');
                        }
                    }
                },

                stop: function (event, ui) {
                    selected_hours = [];
                    $(".ui-selected", this).each(function () {
                        let curr = $(this).attr("id").split(",");
                        selected_hours.push(curr);
                    });

                    // Check availability for each field in selected hours.
                    if (selected_hours.length > 1)
                        checkFieldAvailability(selected_hours);
                }
            });




        });

        function checkFieldAvailability(date) {

            let week_avail = {{ week_avail|safe }};
            let booked_date = date[0][0];
            let desired_hours = [];
            let field_avail = {};
            let book_avail = {};

            date.forEach(element => desired_hours.push(element[1]));
            let last = desired_hours.pop(); //Unnecessary to check last.

            for (const [key, value] of Object.entries(week_avail)) {
                let curr = key.split(',');
                if (booked_date === curr[0]){
                    field_avail[key] = value;
                }
            }

            for (const x in desired_hours) {
                for (const [key, value] of Object.entries(field_avail)) {
                    if (value.includes(desired_hours[x])){
                        let curr = key.split(',')[1];

                        if (curr in book_avail)
                            book_avail[curr].push(desired_hours[x]);
                        else
                            book_avail[curr] = [desired_hours[x]];
                    }
                }
            }

            launchModal(date, book_avail, last);
        }

        function launchModal(date, availability, last) {

            $('#fieldsModal').on("show.bs.modal", function () {
                let modal = $(this);
                // Parsed to avoid conflicts between django vars an JS.
                let dateArr = date[0][0].toString().split("/");
                const req_date = new Date(parseInt(dateArr[2]), parseInt(dateArr[1]) - 1, parseInt(dateArr[0]));

                let month_name = function (dt) {
                    mlist = ["January", "February", "March", "April", "May", "June",
                                "July", "August", "September", "October", "November", "December"];
                    return mlist[dt.getMonth()];
                };

                modal.find('.modal-title').html('<i class="far fa-calendar-alt mr-3"></i>' +
                    month_name(req_date) + " " + req_date.getDate() + ", " + req_date.getFullYear() +
                    '<br>' + '<small>' + date[0][1] + '-' + date[date.length - 1][1] + '</small>');

                modal.find('.modal-body').empty();
                for (const [key, value] of Object.entries(availability)) {
                    modal.find('.modal-body').append('<label class="mb-2" for="'+ key +'">'+ key + '</label>');

                    let curr_opts = "";
                    for (const v in value){
                        curr_opts += '<option>'+value[v]+'</option>';
                    }
                    curr_opts += '<option>'+last+'</option>';

                    modal.find('.modal-body').append('<select multiple data-actions-box="true" ' +
                        'class="form-control selectpicker mb-2"' + 'id="' + key + '">' + curr_opts + '</select>');

                    $('.selectpicker').selectpicker('render');

                }


            }).modal('show');
        }

    </script>


{% endblock %}
