{% extends isajax|yesno:"ajax_base.html,base.html" %}
{% load static %}


{% block body_block %}


    <section id="schedule" class="container-fluid d-none d-lg-block">

        <button id="nw" type="button" class="btn btn-success"
                onclick="swipeWeek('{% url 'trainwell:available' %}','{{ next_week }}')">
            Next week
        </button>

        <p>{{ weekdays.0|date:"d M" }}-{{ weekdays.6|date:"d M" }}</p>
        <div class="row bg-primary text-center">
            {% for day in weekdays %}

                <div class="col">
                    <b id="{{ forloop.counter0 }}">{{ day|date:"d" }}</b>
                    <br>{{ day|date:"l" }}
                </div>

            {% endfor %}
        </div>


        {% for hour in hours %}
            <div class="row">
                {% for day in weekdays %}

                    <div id="{{ day|date:"l"|add:hour|add:":00:00" }}" class="col border">
                        <sub class="text-right">{{ hour }}:00</sub>
                        <br>
                    </div>

                {% endfor %}
            </div>
        {% endfor %}

    </section>

    <script type="text/javascript">
        var dict = {{ booked_dates|safe }};

        for (const [key, value] of Object.entries(dict)) {
            document.getElementById(value[0]).innerHTML=key;
        }
    </script>

    <script type="text/javascript">
        function swipeWeek(url, week) {
            $.ajax({
                    url: url,
                    data: {
                        'week': week,
                    },
                    headers: {
                        "X-Requested-With": "XMLHttpRequest"
                    },
                    success: function (html) {
                        $('#schedule').replaceWith(html);
                    }
                }
            );
        }
    </script>

{% endblock %}
