.v-middle {
    vertical-align: middle;
}

.bg-red {
    background-color: #e74a3b;
}

.bg-grey {
    background-color: #858796;
}

.lightred {
    color: #e83a30;
    background: #fad3d1;
}

.ui-selecting {
    background: #cc73e1;
    color: white;
}

.ui-selected {
    background: #cc73e1;
    color: white;
}

.ui-unselecting {
    background: initial;
}

.ui-unselected {
    background: initial;
}

.underline-warn:hover:before {
    visibility: visible;
    transform: scaleX(1);
}
