.v-middle {
    vertical-align: middle;
}

.bg-red {
    background-color: #e74a3b;
}

.bg-grey {
    background-color: #858796;
}

.bg-gray {
    background-color: rgba(239, 240, 243, 0.54)
}

.lightred {
    color: #e83a30;
    background: #fad3d1;
}

.ui-selecting {
    background: #cc73e1;
    color: white;
}

.ui-selected {
    background: #cc73e1;
    color: white;
}

.ui-unselecting {
    background: initial;
}

.ui-unselected {
    background: initial;
}

.bg-magenta {
    background-color: #cc73e1;
}

.card-border {
    border-left: .25rem solid #cc73e1 !important;
    border-left-width: 0.25rem !important;
}

.underline:hover:before {
    visibility: visible;
    transform: scaleX(1);
}


.underline {
    position: relative;
}

.underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -10px;
    left: 0;
    background-color: #f6c23e;
    transform: scaleX(0);
    transition: all 0.25s ease-in-out;
}


.scrollable-menu {
    height: auto;
    max-height: 50px;
    overflow-x: hidden;
}