.v-middle {
    vertical-align: middle;
}

.bg-red {
    background-color: #e74a3b;
}

.bg-grey {
    background-color: #858796;
}

.ui-selecting {
    background: #cc73e1;
    color: white;
}

.ui-selected {
    background: #cc73e1;
    color: white;
}

.ui-unselecting {
    background: initial;
}

.ui-unselected {
    background: initial;
}

.underline-warn:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.bg-magenta{
    background-color: #cc73e1;
}

.card-border {
    border-left: .25rem solid #cc73e1 !important;
    border-left-width: 0.25rem !important;
}