{% extends 'base.html' %}

{% block body_block %}
    <div class="container">

        <h1>Add Incidence</h1>
        <form method="post">

            <div class="form-group col-sm-6" id="iname">
                <label class="font-weight-bold" for="iname">Name*</label>
                <input name="name" type="text" class="form-control" id="iname">

                {% if IncidenceForm.name.errors %}
                    {% for error in IncidenceForm.name.errors %}
                        <small class="text-danger">{{ error|escape }}</small>
                    {% endfor %}
                {% endif %}
            </div>


            <div class="form-group col-sm-6" id="descr">
                <label class="font-weight-bold" for="descr">Description*</label>
                <input name="description" type="text" class="form-control" id="descr">

                {% if IncidenceForm.description.errors %}
                    {% for error in IncidenceForm.description.errors %}
                        <small class="text-danger">{{ error|escape }}</small>
                    {% endfor %}
                {% endif %}
            </div>


            <div class="form-group col-sm-6" id="limit">
                <label class="font-weight-bold" for="limit">Limit Date</label>
                <input name="limit_date" type="date" class="form-control" id="limit">

                {% if IncidenceForm.limit_date.errors %}
                    {% for error in IncidenceForm.event.errors %}
                        <small class="text-danger">{{ error|escape }}</small>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group custom-control custom-checkbox">
                <input name="disabled" type="checkbox" class="custom-control-input" id="disabled">
                <label class="custom-control-label" for="disabled">*Disabled.</label>
                <small id="disabled" class="form-text text-muted">If marked, some bookings may be affected</small>

                {% if IncidenceForm.disabled.errors %}
                    {% for error in IncidenceForm.event.errors %}
                        <small class="text-danger">{{ error|escape }}</small>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group custom-control custom-checkbox">
                <label class="font-weight-bold" for="place">Places</label>
                <small id="disabled" class="form-text text-muted">Select the places that will be affected or
                    disabled</small>

                <select class="selectpicker" name="{{ form.places.html_name }}" id="place" multiple>
                    {% for e in form.places %}
                        <option value="{{ e }}"></option>
                    {% endfor %}

                </select>
            </div>

            <div class="form-group custom-control custom-checkbox">
                <input name="done" type="checkbox" class="custom-control-input" id="done">
                <label class="custom-control-label" for="done">Done</label>


                {% if IncidenceForm.done.errors %}
                    {% for error in IncidenceForm.done.errors %}
                        <small class="text-danger">{{ error|escape }}</small>
                    {% endfor %}
                {% endif %}
            </div>


            <div class="my-5">
                {% if IncidenceForm.disabled == True %}
                    <a class="btn btn-primary" href="{% url 'trainWellApp:dashboard' %}"><span
                            class="fas fa-arrow-left"></span> Go to Dashboard</a>
                    <input type="submit"
                           onclick="return confirm('This bookings will be affected: get_affected_bookings(datetime.today,IncidenceForm.limit_date')"
                           class="btn btn-secondary btn-lg" value="AddIncidence"/>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'trainWellApp:dashboard' %}"><span
                            class="fas fa-arrow-left"></span> Go to Dashboard</a>
                    <input type="submit" onclick="return confirm('Are you sure?')"
                           class="btn btn-secondary btn-lg" value="AddIncidence"/>
                {% endif %}
            </div>

            {% csrf_token %}
        </form>
    </div>
{% endblock %}


