{% extends "base_wizard.html" %}

{% load app_filters %}
{% load static %}


{% block additional %}

    <section id="schedule" class="container-fluid d-none d-lg-block">

        <div class="row p-5">

            <div class="col">
                <div class="btn-group" role="group">
                    <button id="pw" type="button" class="btn btn-secondary btn-sm d-inline"
                            onclick="swipeWeek('{% url 'trainwell:book_step' wizard.steps.current %}','{{ previous_week }}')">
                        <i class="fas fa-chevron-left"> </i>
                    </button>
                    <button id="nw" type="button" class="btn btn-secondary btn-sm d-inline"
                            onclick="swipeWeek('{% url 'trainwell:book_step' wizard.steps.current %}','{{ next_week }}')">
                        <i class="fas fa-chevron-right"> </i>
                    </button>
                </div>
                <button id="today" type="button" class="btn btn-secondary btn-sm mr-3"
                        onclick="swipeWeek('{% url 'trainwell:book_step' wizard.steps.current %}','{% now "d/m/Y" %}')">
                    Today
                </button>
                {% if weekdays.0|date:"F" == weekdays.6|date:"F" %}
                    <h4 class="d-inline v-middle">{{ weekdays.0|date:"F Y" }}</h4>
                {% else %}
                    <h4 class="d-inline v-middle">{{ weekdays.0|date:"F" }}-{{ weekdays.6|date:"F Y" }}</h4>
                {% endif %}
            </div>

            <div class="col text-right">
                <button id="info" type="button" style="background: rgb(121, 134, 203); color: white" class="btn btn-light btn-sm" data-toggle="popover"
                title="Help" data-content="Drag the mouse over the different hours while holding it down.
                For multiple selection hold down Ctrl key and drag the mouse over different elements.">
                    Help <i class="far fa-question-circle"></i>
                </button>

            </div>

        </div>

        {% now "d/m/Y" as today%}

        <div class="row text-center px-5 animated">
            {% for day in weekdays %}

                {% define day|date:"d/m/Y" as curr%}

                {% if today == curr %}

                    <div id="{{ day|date:"d/m/Y" }}" class="col border-bottom text-dark p-3">
                        {{ day|date:"D" }}
                        <h5 class="text-white mt-2"><b style="background: #f6c23e" class="rounded-circle p-2">{{ day|date:"d" }}</b></h5>
                        {% if public_days|get_value:day %}
                            <small class="badge badge-pill badge-success">{{ public_days|get_value:day }}</small>
                        {% endif %}
                    </div>

                {% else %}

                    <div id="{{ day }}" class="col border-bottom text-dark p-3">
                    {{ day|date:"D" }}
                    <h5 class="bold mt-2"><b>{{ day|date:"d" }}</b></h5>
                    {% if public_days|get_value:day %}
                        <small class="badge badge-pill badge-success">{{ public_days|get_value:day }}</small>
                    {% endif %}

                </div>

                {% endif %}

            {% endfor %}
        </div>


        <div class="row px-5 pb-5 animated slideInRight">

            {% for list_hours,day in hours|zip:weekdays %}

                <div id="selectable-content{{ forloop.counter0 }}" class="col">

                    {% for hour in list_hours %}

                        {% define day|date:"d/m/Y"|add:","|add:hour as datatime %}

                        {% if week_avail|get_item:datatime is True %}

                            <div id="{{ day|date:"d/m/Y," }}{{ hour }}" class="row border selectable p-3">
                                <small>{{ hour }}</small>
                            </div>

                        {% else %}
                            {% if public_days|get_value:day %}
                                <div class="row border bg-grey p-3">
                                    <small class="text-white">{{ hour }}</small>
                                </div>
                            {% else %}
                                <div id="{{ day|date:"d/m/Y," }}{{ hour }}" class="row border p-3">
                                    <small class="text-muted">{{ hour }} </small>
                                </div>
                            {% endif %}

                        {% endif %}

                    {% endfor %}

                </div>

            {% endfor %}
        </div>

        <div class="modal fade" id="fieldsModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content p-3">

                    <div class="modal-header">
                        <h5 class="modal-title"> </h5>
                    </div>

                    <div class="modal-body">
                        <!--TO-DO errors-->
                    </div>

                    <small class="text-muted p-3">
                        *Note if range is 9h-10h, you must only select 9h.<br>
                        *Make sure you have selected and hour in only a field.
                    </small>
                    <div class="modal-footer">
                        <button type="button" onclick="generateSelection()" class="btn btn-primary">Confirm</button>
                    </div>

                </div>
            </div>
        </div>
        <input style="display: none" name="json_selection" id="json_data">

    </section>

    <script id="popover_script" type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script id="week_avail" type="text/javascript">
        // Global var to access in availability script
        var avail = {{ week_avail|safe }}
    </script>

    <script type="text/javascript" src="{% static 'JS/getAvailability.js' %}"> </script>


{% endblock %}