{% extends 'base.html' %}
{% load app_filters %}
{% block body_block %}
    <div class="container py-5">

        <h3>{{ object.name }}</h3>

        <h5><span class="badge badge-success">{{ object.event.name }}</span></h5>
        <table class="table">
            <tbody>
            <tr>
                <td>Planner</td>
                <td>{{ object.planner }}</td>
            </tr>
            <tr>
                <td>Place</td>
                <td> {{ object.get_selection.place.name }} </td>
            </tr>
            <tr>
                <td> Phone</td>
                <td>{{ object.phone_number }}</td>
            </tr>
            <tr>
                <td> Distribution</td>
                <td>
                {% for key, values in selections.items %}
                    {{ key }}
                    {% for v in values %}
                        {{ v|date:"H:i" }}
                    {% endfor %}
                {% endfor %}
            </td>
            </tr>
            </tbody>
        </table>


        <a class="btn btn-sm btn-secondary" href="{% url 'trainWellApp:dashboard' %}"><span class="fas fa-arrow-left"></span> Go
            Dashboard</a>
        <a class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?')"
           href="{% url 'trainWellApp:booking_cancelation' pk=object.pk %}">
            <span class="fas fa-trash"></span> Cancel</a>
    </div>
{% endblock %}