{% extends "base.html" %}
{% load static %}

{% block body_block %}
    <style>.draggable {
        width: 40%;
        color: #fff;
        font-size: 1.2em;
        border-radius: 4px;
        padding: 2%;
        margin: 5%;
        touch-action: none;
    }</style>

    <div style="min-height: 100vh" class="container">
        {% for p in object_list %}
            <div style="background-color: {{ p.events.all.0.color }};" class="draggable">{{ p.name }}</div>
        {% endfor %}
    </div>

    <canvas id="center-map">

    </canvas>



    <script type="text/javascript">
        var element = document.getElementById('grid-snap')
        var x = 0;
        var y = 0

        // target elements with the "draggable" class
        interact('.draggable')
            .draggable({
                // enable inertial throwing
                inertia: true,
                // keep the element within the area of it's parent
                modifiers: [
                    interact.modifiers.restrictRect({
                        restriction: 'parent',
                        endOnly: true
                    })
                ],
                // enable autoScroll
                autoScroll: true,

                listeners: {
                    // call this function on every dragmove event
                    move: dragMoveListener,

                    // call this function on every dragend event
                    end(event) {
                        var textEl = event.target.querySelector('p')

                        textEl && (textEl.textContent =
                            'moved a distance of ' +
                            (Math.sqrt(Math.pow(event.pageX - event.x0, 2) +
                                Math.pow(event.pageY - event.y0, 2) | 0))
                                .toFixed(2) + 'px')
                    }
                }
            })

        function dragMoveListener(event) {
            var target = event.target
            // keep the dragged position in the data-x/data-y attributes
            var x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx
            var y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy

            // translate the element
            target.style.webkitTransform =
                target.style.transform =
                    'translate(' + x + 'px, ' + y + 'px)'

            // update the posiion attributes
            target.setAttribute('data-x', x)
            target.setAttribute('data-y', y)
        }

        // this function is used later in the resizing and gesture demos
        window.dragMoveListener = dragMoveListener
    </script>
{% endblock %}